#welcome{
 text-align: center;
 background: rgb(255,87,51);
 background: linear-gradient(90deg, rgba(255,87,51,1) 0%, rgba(227,177,4,1) 25%, rgba(227,36,43,1) 50%, rgba(139,0,139,1) 75%, rgba(0,212,255,1) 100%);
 background-repeat: no-repeat;
 padding-bottom: 20px;
 height: 500px;
 margin: 5px;
}

.format{
  border-radius: 50%;
  width: 200px;
}

.line{
  height: 6px;
  width: 70px;
  background-color: black;
  margin: 8px auto;
}

h1{
  text-shadow: 2px 2px #f8bbd0;
  font-family: fantasy;
  font-weight: 900;
}

h2{
    color: darkgreen;
    font-family: serif;
    font-weight: bold;
    text-shadow: 5px 5px 5px purple;
}
h3{
    font-family: monospace;
    font-weight: 400;
}
span{
    font-family: fantasy;
    font-weight: 900;
}
#content{
  text-align: center;
  padding: 20px;
  font-size: 18px;
  background-color: #FF7260;
  color: darkblue;
  height: 840px;
  margin: 5px;
}
.hobby{
    font-family: 'Bungee Shade', cursive;
    text-shadow: 1px 1px #f8bbd0;
}

body{
    background-color: aqua;
    text-align: center;
}
.noformat{
    width: 200px;
}
#content p{
    font-family: Monospace;
    font-size: 12px;
    width: 200px;
}
.seCtt{
    width: 300px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact{
    background-color: gray;
}
.inline{
    display: inline-block;
}
#me{
  text-align: center;
  padding: 20px;
  font-size: 18px;
  background-color: rgb(77, 12, 77);
  color: rgb(131, 96, 7);
  height: 1640px;
  margin: 5px;
}
.noformat2{
    width: 400px;
}